Welcome {{{ name }}}

Thank you for signing up with SilverCare.

The SilverCare application helps you recover after a hospital stay by providing support for you and your loved ones.
Using the link at the bottom of this letter, you can create a password.
You will then be provided a link to download the app onto your mobile phone or tablet.
There is no charge for SilverCare.

Following your doctor’s instructions will assist in a faster recovery.  The SilverCare app has the following features to help you:
- Digital version of discharge documents and doctor’s instructions
- A daily “To-Do” list 
- Medication reminders
- Appointment reminders
- Personal health information record
- Care Circle contact information of people supporting recovery
- Medication list with times and dosage
- Educational videos on health conditions
- Journal for recording notes, observations or follow up questions
- Summary of all activity within the app for quick overview

Some of these sections may already be completed when you access the app for the first time.
You and your care circle can edit and customize these helpful tools to keep the information up to date.

{{{ link }}}
