<!doctype html>
<html>
<body>
    <h1>This is a notification from SilverCare</h1>
    <p><strong>{{{ patient.full_name }}}</strong></p>
    <p><strong>An Appointment To-Do has had a status change to Incomplete</strong></p>
    <ul><li>If an Appointment To-Do is not checked off as Complete within an hour of the scheduled time, the status is changed to Incomplete</li></ul>
    <p>For additional details, please access the To-Do list on your SilverCare mobile app.</p>
</body>
</html>