<!doctype html>
<html>
<body>
    <p><strong>{{{ patient.full_name }}} needs a volunteer for a To-Do.  Can you help?</strong></p>
    <p>Please access your SilverCare mobile app for details.  A quick way to access the new assignment is via the Summary page on the app.</p>
    <p>You can also filter the To-Do List by selecting the “v” symbol next to the title “To-Do List”, then select “Needs a volunteer” as the filter.</p>
    <p><strong>To volunteer for the To-Do</strong></p>
    <p>You can volunteer by tapping on the To-Do, selecting “Edit” and selecting your name in the “Assigned To” section.</p>
</body>
</html>