<!doctype html>
<html>
<body>
    <p><strong>You have been assigned a To-Do for {{{ patient.full_name }}}</strong></p>
    <p>Please access your SilverCare mobile app for details.  A quick way to access the new assignment is via the Summary page on the app.</p>
    <p>You can also filter the To-Do List by selecting the “v” symbol next to the title “To-Do List”, then select your name as the filter.</p>
    <p><strong>If you can’t complete the assignment</strong></p>
    <ul>
        <li>You can re-assign the To-Do to another member of the CareCircle</li>
        <li>You can choose the “Needs a volunteer” option which will send a notification to everyone within the CareCircle that a volunteer is needed for the To-Do.</li>
    </ul>
</body>
</html>