<!doctype html>
<html>
<body>
    <h1>This is a reminder from SilverCare</h1>
    <p><strong>{{{ patient.full_name }}}</strong></p>
    <p><strong>It’s time to complete a task.</strong></p>
    <p>For additional details, please access the To-Do list on your SilverCare mobile app.</p>
</body>
</html>