<!doctype html>
<html>
<body>
    <p><strong>You have been invited to join the CareCircle for {{{ patient.full_name }}}</strong></p>

    <p>
        The SilverCare mobile app helps your loved one recover after a hospital stay by providing support.
        Using the link at the bottom of this letter, you can create a password.
        You will then need to use the app store to download the app “SilverCare by SilverVue” onto your mobile phone or tablet.
        There is no charge for SilverCare.
    </p>

    <p>
        <strong>Following doctor’s instructions will assist in a faster recovery.  The SilverCare app has the following features to help you help your loved one:</strong>
        <ul>
            <li>Digital version of discharge documents and doctor’s instructions</li>
            <li>A daily “To-Do” list</li>
            <li>These tasks can be assigned to members of the CareCircle for care coordination</li>
            <li>Medication reminders</li>
            <li>Appointment reminders</li>
            <li>Personal health information record</li>
            <li>Care Circle contact information of people supporting recovery</li>
            <li>Medication list with times and dosage</li>
            <li>Educational videos on health conditions</li>
            <li>Journal for recording notes, observations or follow up questions</li>
            <li>Summary of all activity within the app for quick overview</li>
        </ul>
    </p>

    <p><strong>Create your password and download the app</strong></p>
    <p>
        Using the link at the bottom of this letter, you can create a password.
        You will then need to use the app store to download the app “SilverCare by SilverVue” onto your mobile phone or tablet.
        There is no charge for SilverCare.
    </p>

    <p><a href="{{{ link }}}">Click here</a> to get started.</p>
</body>
</html>